# Project environment variables for soflia-coursegen
# Context: production
# Scope: any
# Date: Wed, 29 Jul 2026 18:23:22 GMT

COURSEFORGE_JWT_SECRET=mqy2XdnqgwXGz8Et3aa7AEmgEL3gRiGtsSDXASdp7GEx/kQGUv8NLfe/0VnsgLs25oqgEJWeVsNsQQh2nYWumg==
GOOGLE_CLIENT_ID=973141986001-gle8h19mt8gf3g37uakp3rmbpd6b1emi.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=****************t0uh
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyDtnwUaXWd2dPIX0_Pu9WbvqmNIMPQv7ug
GOOGLE_REDIRECT_URI=https://soflia-coursegen.netlify.app/api/auth/google/callback
MICROSOFT_CLIENT_ID=b1bfdeb4-b8fb-4b22-817d-8b8e357ca89a
MICROSOFT_CLIENT_SECRET=****************Dc10
MICROSOFT_REDIRECT_URI=https://soflia-coursegen.netlify.app/api/auth/microsoft/callback
NEXT_PUBLIC_GOOGLE_APP_ID=973141986001
NEXT_PUBLIC_GOOGLE_CLIENT_ID=973141986001-gle8h19mt8gf3g37uakp3rmbpd6b1emi.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_DEVELOPER_KEY=****************yqfo
NEXT_PUBLIC_SOFLIA_WORKER_DOWNLOAD_LINUX_URL=https://github.com/DevOps-043/SofLIA-desktop_cli/releases/download/v0.1.7/SofLIA-Engine-Render-Worker-Linux-x64.deb
NEXT_PUBLIC_SOFLIA_WORKER_DOWNLOAD_MACOS_URL=https://github.com/DevOps-043/SofLIA-desktop_cli/releases/download/v0.1.7/SofLIA-Engine-Render-Worker-macOS-arm64.dmg
NEXT_PUBLIC_SOFLIA_WORKER_DOWNLOAD_URL=https://github.com/DevOps-043/SofLIA-desktop_cli/releases/download/v0.1.7/SofLIA-Engine-Render-Worker-Windows-x64.exe
NEXT_PUBLIC_SOFLIA_WORKER_DOWNLOAD_WINDOWS_URL=https://github.com/DevOps-043/SofLIA-desktop_cli/releases/download/v0.1.7/SofLIA-Engine-Render-Worker-Windows-x64.exe
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtc2pjdGJkZXZ1ZmxveG50amxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1OTE4MjIsImV4cCI6MjA4MjE2NzgyMn0.XOqORkeLgps2BMH9sl_VkvDUpdfInqIxc1It7C2sa6Y
NEXT_PUBLIC_SUPABASE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtc2pjdGJkZXZ1ZmxveG50amxsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5MTgyMiwiZXhwIjoyMDgyMTY3ODIyfQ.sMkVWytO3r37HvWcw5QpgJrzochf0UTpsoL4lVs0V0U
NEXT_PUBLIC_SUPABASE_URL=https://emsjctbdevufloxntjll.supabase.co
OAUTH_TOKEN_CRYPTO_SECRET=ff99a56d8a2787119e9dd4627599aa2ae20d9e48d7800b993411c6ec063f2658
OPENAI_API_KEY=****************QLcA
REMOTION_TEMPLATE_BUILD_BUCKET=soflia-remotion-template-builds
REMOTION_TEMPLATE_BUILD_LOG_BUCKET=soflia-remotion-template-builds
REMOTION_TEMPLATE_BUILD_PUBLIC_BASE_URL=https://d2havm5ve4rvb0.cloudfront.net/template-sites
REMOTION_TEMPLATE_CODEBUILD_PROJECT=soflia-remotion-template-builder
REMOTION_TEMPLATE_CODEBUILD_REGION=us-east-2
REMOTION_TEMPLATE_SOURCE_BUCKET=soflia-remotion-template-builds
RENDER_PROVIDER=desktop_worker
SOFLIA_API_KEY=sk_cf_7d8293kjs823jksd923
SOFLIA_API_URL=https://soflia.ai
SOFLIA_AUTH_SUPABASE_ANON_KEY=sb_publishable_HUjziIbK7cjwD3km7UFDOw_lGEDYzUg
SOFLIA_INBOX_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ycW5ubXVja3pudnVranZma2x5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzczNDUyMSwiZXhwIjoyMDgzMzEwNTIxfQ.BGR8J66Aou16S1hor4L--HJkrzffc0PZmSPf-0rWtD4
SOFLIA_INBOX_SUPABASE_URL=https://mrqnnmuckznvukjvfkly.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtc2pjdGJkZXZ1ZmxveG50amxsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5MTgyMiwiZXhwIjoyMDgyMTY3ODIyfQ.sMkVWytO3r37HvWcw5QpgJrzochf0UTpsoL4lVs0V0U